*{
    box-sizing:border-box;
}

body{
    line-height:1.6em;
    font-size:18px;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color:#939393;
    color:white;
}

.main-header{
    text-align:center;
    width:80%;
    margin:0 auto;
    padding:5px;
}

.container{
    max-width:100%;
    padding:1em;   
}

.main-content{
    color:black;
    background-color:#D3D3D3;
    text-align:center;
    padding: 15px 15px;
}

footer{
    text-align:center;
    padding:0 1em 2em;
    margin-bottom:5px;
}

img{
    max-width:100%;
}

.project-image{
    width:100%;
}

ul{
    list-style-type:none;
    padding-left:0;
}

.nav li{
    display:block;
    background-color:#939393;
    margin:5px auto;
}

a{
    color:white;
    text-decoration:none;
    display:block;
    padding:10px 15px;

}

a:hover{
    background-color:#939393;
}

a:visited{
    color:blue;
}

.name,
.nav,
.profile-image{
    padding-bottom:15px;
    }

.bottom{
    color:white;
    width:100%;
    margin:0 auto;
    text-align:center;
    
}

.bottom-to-top{
    height:50px;
    border-top:solid .5px black;
    text-align:center;
}

#address{
    display:inline-block;
    padding-left:5px;
}

span{
    padding-bottom:5px;
    display:inline-block;
    margin-right:-10px;
}

#footer-name{
    padding-top:10px;
    float:left;
    
}

#back-to-top{
    float:right;
}

/*=====Media Queries=====*/

@media (min-width: 768px) {
    .nav li{
        display:inline-block;
        margin-right:15px;
        background-color:#939393;
    }

    .col{
        height:500px;
        text-align:center;
        float:left;
        width:50%;
        padding-left:25px;
        margin-right:-15px;
    }


    .intro{
        float:left;
    }

    .profile-image{
        float:right;
        padding-left:25px;
    }

}

@media (min-width: 1024px) {
    
    .col{
        height:500px;
        text-align:center;
        float:left;
        width:33%;
        padding-left:15px;
        margin-right:-2px;
    }

    
    
}





.clearfix::after{
    content:"";
    display:table;
    clear:both;
}