*{
    box-sizing:border-box;
}

body{
    line-height:1.6em;
    background-color:rgb(211,211,211);
}

.main-header{
    text-align:center;
    width:80%;
    margin:0 auto;
    padding:5px;
}

.container{
 padding:1em;   
}

.main-content{
    background-color:white;
    text-align:center;
    padding: 15px 15px;
}

footer{
    text-align:center;
    padding:0 1em 2em;
    margin-bottom:5px;
}

.project-image{
    width:100%;
}

ul{
    list-style-type:none;
    padding-left:0;
}

.main-nav li{
    display:block;
    background-color:white;
    margin:5px auto;
}

.main-nav a{
    padding:15px 10px;
}

a{
    color:black;
    text-decoration:none;
}

.name,
.main-nav,
.profile-image{
    padding-bottom:15px;
    }

.bottom{
    width:100%
    margin:0 auto;
    text-align:center;
    border-bottom:solid .5px black;
}

span{
    margin-right:30px;
}

#footer-links{
    padding-top:15px;
}

#footer-name{
    float:left;
}

#back-to-top{
    float:right;
}


/*=====Media Queries=====*/

@media (min-width: 768px) {
    .main-nav li{
        display:inline-block;
        margin-right:15px;
        background-color:rgb(211,211,211);
    }

    .intro{
        float:left;
    }

    .profile-image{
        float:right;
        padding-left:25px;
    }

    .col{
        display:inline-block;
        width:50%;
        margin-right:-2px;
        padding-left:15px;
    }

    #footer-name{
        float:left;
    }

    #back-to-top{
        float:right;
    }

}

@media (min-width:1024px) {

    .col{
        display:inline-block;
        width:33%;
        margin-right:-2px;
        padding:15px 10px;
    }
}






.clearfix::after{
    content:"";
    display:table;
    clear:both;
}